@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    background-color:rgb(249, 236, 220);
}

body {
    font-family: 'Open-Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin-top: -75px;
}

h1 {
  color:brown;
}

.rules {
  padding: 30px;
  margin-left: -50px;
}

.mode-options {
  margin-bottom: 10px;
}

#shots {
  margin: 10px;
}

button {
  background-color:rgb(181, 244, 223);
  color:black;
  height: 40px;
  width: 80px;
  font-size: 15px;
  margin: 10px;
  border-radius: 10px;
}

#game-output {
  margin-top: 10px;
}

.rps-rules {
  margin: 20px;
  padding: 10px;
  background-color:rgb(241, 186, 186);
}

p.active {
    display: block;
}

p.inactive {
    display: none;
}

div.active {
    display: block;
}

div.inactive {
    display: none;
}

input.active {
    display: inline;
}

input.inactive {
    display: none;
}

label.active {
    display: inline;
}

label.inactive {
    display: none;
}

button.active {
    /* display: block makes the buttons vertical */
    display: inline;
}

button.inactive {
    display: none;
}