@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    background-color:rgb(249, 236, 220);
}

body {
    font-family: 'Open-Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
  color:brown;
}

.rules {
  padding: 30px;
  margin-left: -140px;
}

.mode-options {
  margin-bottom: 10px;
}

button {
  height: 50px;
  width: 90px;  
  color:rgb(59, 109, 93);
  background-color:rgb(215, 234, 250);
  margin: 10px;
  border-radius: 10px;
  font-size: 17px;
}

.game-buttons {
  margin: 10px;
  display: flex;
  justify-content: space-around;
}

.reset {
  margin: 10px;
}

#reset-button {
  background-color:rgb(181, 244, 223);
  color:black;
  height: 40px;
  width: 80px;
  font-size: 13px;
}

.rps-rules {
  margin: 20px;
  padding: 10px;
  background-color:rgb(241, 186, 186);
}